
{% extends "base.html" %}

{% block body_content %}
<table>
    <tr>
        <th>Task</th>
        <th>Description</th>
        <th>Deadline</th>
        <th>Status</th>
    </tr>
    {% for task in tasks %}
    <tr class="clickable"
        data-href="/tasks/edit?task_id={{ task['id'] }}"  
        >
        <td>{{ task["title"] }}</td>
        <td>{{ task["description"] }}</td>
        <td>{{ task["deadline"] }}</td>
        {% if task["status"] == 1 %}
            <td>Not started</td>
        {% endif %}
        {% if task["status"] == 2 %}
            <td>In progress</td>
        {% endif %}
        {% if task["status"] == 3 %}
            <td>Completed</td>
        {% endif %}
        <td> 
            <form action="/tasks/delete?task_id={{ task['id'] }}" onclick="event.stopPropagation();">
                <button type="submit">Delete task</button>
            </form>
        </td>
        
    </tr>
    {% endfor %}

</table>

<a href="/tasks/new">
    <button type="button">Add new task</button>
</a>


<script>
    document.querySelectorAll("tr.clickable").forEach((row) => {
        row.addEventListener("click", () => {
            window.location= row.dataset.href;
        })
    })
</script>
{% endblock %}